@tailwind base;
@tailwind components;
@tailwind utilities;
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; /* Scrollbar color */
    border-radius: 4px; /* Roundness */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Scrollbar color on hover */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;     /* Hide scrollbar in Firefox */
  }

@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url('./assets/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url('./assets/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.PlusJakartaSans-Bold {
  font-family: 'PlusJakartaSans-Bold', sans-serif; /* Fallback to sans-serif */
}
.PlusJakartaSans-Medium {
  font-family: 'PlusJakartaSans-Medium', sans-serif; /* Fallback to sans-serif */
}